@font-face {
    font-family: OdinFont;
    src: url(./font/Norse-Bold.otf);
}

body, html{
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body{
    display: flex;
}

.leftSide{
    display: flex;
    flex-direction: column;
    width: 35%;
    background-image: url(./pictures/halie-west-UWni0vqQotc-unsplash.jpg);
    background-size: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.rightSide{
    width: 65%;
    display: flex;
    flex-direction: column;
    background-color: #2d3436;
    font-size: 1.5vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textSection, .formSection, .submitSection{
    height: 33%;
}

.leftBackSide{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d343676;
    margin: 30% 0% 50% 0%;
    height: 15%;
}

.odinBar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 90%;
    text-decoration: none;
    transition: 0.5s;
}

.odinBar:hover{
    cursor: pointer;
    transform: scale(0.7);
    transition: transform 0.5s ease;
}

.odinLogo{
    max-width: 80%;
    max-height: 80%;
}

.logosname{
    font-family: odinFont;
    margin: 0;
    font-size: 6vw;
}

.inFooterRight{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.footerRight{
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 10px
}

.cred{
    padding: 0px 3px;
}

.cred:visited {
    color: white;
}

.textSection{
    color: white;
    padding: 8% 20% 5% 5%;
}

.formSection{
    padding: 2% 5% 5% 5%;
    border: 1px solid #2d343676;
    box-shadow: 5px 5px 18px black;
    background-color: #343a40;
}

.letsdothis{
    color: #fab005;
    margin: 0;
}

.bars{
    display: flex;
    gap: 20%;
    margin-top: 2%;
}

.bar{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
}

label{
    color: #fab005;
    font-size: 0.9vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input {
    color: white;
    border: none;
    border-bottom: 2px solid #f8f9fa;
    padding: 2%;
    background-color: #343a40;
}
  
input:invalid {
    border-color: #c92a2a;
}
  
input:valid {
    border-color: #ced4da;
}